<div class="page-header">
    <h1>Login Page</h1>
</div>

<form ng-submit="doLogin(loginData);" style='padding:10px;'>
    <label for="">Username:</label>
    </br>
    <input type="text" name="username" placeholer="please enter username" ng-model="loginData.username">
    </br>
    <label for="">Password:</label>
    </br>
    <input type="password" name="password" placeholer="please enter password" ng-model="loginData.password">
    </br>
    </br>
    <button type='submit' class='btn btn-primary'>Register</button>
    </br>
</form>

<br>

<!-- Loading Icon -->
<div class="jumbotron text-center" ng-show="loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
</div>
<!-- Loading Icon -->

<br>

<div class="row show-hide-message" ng-show="successMsg">
    <div class="alert alert-success">{{ successMsg }}</div>
</div>
<div class="row show-hide-message" ng-show="errorMsg">
    <div class="alert alert-danger">{{ errorMsg }}</div>
</div>